<style>
ol {
	list-style-type: upper-alpha;
}
</style>

<p id="notice"><%= notice %></p>

<h3>Question</h3>
<%= @question.question_text %>

<h3>Answers</h3>
<ol>
<% @final_answers_array.each do |choice| %>
<li class='<%= choice.correct %>'><%= choice.choice_text %></li>
<% end %>
</ol>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
